<div id="<%= dom_id visitor %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= visitor.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Password digest:</strong>
    <%= visitor.password_digest %>
  </p>

</div>
